# 1.	Python Program to Read a Number n And Print the Series “1+2+…..+n= “

In [5]:
import math
a = (1,2,3,4,5)
print(math.fsum(a))

15.0

In [16]:
a = int(input("enter your no :"))
d = 0
for i in range (1, a):
    d = d + i
    print(i, end="+")
print(a,"=",d+a)

enter your no :6
1+2+3+4+5+6 = 21

# 2.Write a Python program to count the number of even and odd numbers from                     a series of numbers.

In [2]:
#n = [1,2,3,4,5,6,7,8,9]
n = list(map(int,input("Enter the nos:> ").split()))

even_no = 0
odd_no = 0
for i in n:
    if i % 2 == 0:
        even_no= even_no + 1
    else:
        odd_no += 1
print("no of even no : ",even_no)
print("no of odd no : ",odd_no)

Enter the nos:> 1 2 3 4 5 6 7
no of even no :  3
no of odd no :  4

# 3.	Write a Python program t3.	Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [2]:
#n = int(input("enter your no :"))
for i in range(1,11):
    for j in range(1,11):
            print( i, 'X', j, '=', i * j )
    print("------------")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
------------
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
------------

# 4.Given the triangle of consecutive odd  numbers

In [3]:
def Rsum(n):
    lst = []
    for l in range(n):
        lst.append([])
    
    a = 1
    for i in range(n):
        for j in range(1,i+2):
            lst[i].append(a)
            a += 2
    return sum(lst[n-1]),lst
n = int(input("Enter Row Number"))
s,L = Rsum(n)
print(L)
print("Sum of this row -> %s is -> %d"%(L[n-1],s))

Enter Row Number5
[[1], [3, 5], [7, 9, 11], [13, 15, 17, 19], [21, 23, 25, 27, 29]]
Sum of this row -> [21, 23, 25, 27, 29] is -> 125

# 5.Write python program to print the pattern given belowNote: Take input from user
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
n = int(input("enter your row:"))
for i in range (1, n+1):
    for j in range(1, i+1):
        print(i,end=" ")
    print(" ")

enter your row:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5